{{template "adminHeader_nav.html" .}}
<script src="../../js/jquery.validate.js"></script>


<body>
    <form id="addCategoryForm">
        <div class="form-group col-lg-8">
            <div class="form-group">

                <label for="catName">Tên danh mục</label>
                <input type="text" class="form-control" id="catName" name="catName" placeholder="Nhập tên danh mục">
            </div>
            <div class="form-group ">
                <label for="catName">Danh mục cha</label>
                <select class="custom-select" >
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            $('#addCategoryForm').validate({
                rules: {
                    catName: {
                        required: true,
                    },

                },
                messages: {
                    catName: {
                        required: 'Vui lòng nhập tên danh mục.',
                    },
                }
            })
        })
    </script>
