<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8 />
    <title>Thêm bài viết</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="../../js/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-video-resize-module@1.0.2/video-resize.min.js"></script>

    <style>
        .quill-editor iframe {
            pointer-events: none;
        }
    </style>
</head>

<body>
    <div class="card shadow m-5">
        <div class="card-body">
            <nav class="navbar navbar-light">
                <a class="navbar-brand ml-sm-5" href="/" style="color: #ff9708;"><img src="../../images/logo.png"
                        width="70" height="35"></a>
                <div>
                    <p class="text-center" style="padding-top: 15px;">Xin chào <span style="color: red">{{.name}}</span>
                    </p>
                </div>
                <a href="/api/profile/logout" class="mr-sm-5"><i class="fa fa-sign-out"
                        aria-hidden="true"></i>Logout</a>
            </nav>
        </div>
    </div>

    <div class="card shadow m-5">
        <div class="card-body">
            <div class="card-body">
                <nav class="navbar navbar-light bg-light">
                    <p></p>
                    <p>Viết bài</p>
                    <p></p>
                </nav>
            </div>
            <hr>
            <form id="formnews" class="form-horizontal ml-sm-5 mt-sm-5" action="/api/writer">
                <div class="form-group">
                    <label class="control-label col-sm-4" for="title">Tiêu đề:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="category">Danh nục:</label>
                    <div class="col-sm-12">
                        <select id="category" name="category" class="form-control">
                            {{range .categories}}
                            <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="tags">Tags:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="tags" name="tags"
                            placeholder="Enter tags, each tag is separated by a ','">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check ml-3">
                        <input class="form-check-input" type="checkbox" name="ispremium" id="ispremium" value="0">
                        <label class="form-check-label" for="ispremium">Is premium</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="summary">Tóm tắt:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="summary" name="summary" placeholder="Enter summary">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4">Nội dung:</label>
                    <div class="col-sm-12">
                        <div id="toolbar">
                        </div>
                        <div id="editor" style="height: 600px">
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="content" name="content" readonly>
                        <!-- <p id="content"></p> -->
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4" for="avatar">Ảnh đại diện bài viết</label>
                    <div class="col-sm-12">
                        <input id="avatar" type="file" name="avatar" class="form-control-file" accept="image/*">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <input type="submit" class="btn btn-outline-success" value="Save" id="btnSave"></input>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <script>
        $.validator.addMethod("notEmpty", function (value, element) {
            var myEditor = document.querySelector('#editor');
            if (myEditor.children[0].innerHTML == "<p><br></p>") {
                var check = document.querySelector('#content');
                check.value = "Vui lòng nhập nội dung bài viết";
                // $('#content').text("Vui lòng nhập nội dung bài viết");
                return false;
            } else {
                var check = document.querySelector('#content');
                check.value = "";
                return true;
            }
        }, "");
        
        $(document).ready(function () {
            $("#formnews").validate({
                submitHandler: postNews,
                rules: {
                    title: {
                        required: true,
                    },
                    summary: {
                        required: true,
                    },
                    avatar: {
                        required: true,
                    },
                    content: {
                        notEmpty: 'on',
                    }
                },
                messages: {
                    title: {
                        required: 'Vui lòng nhập tiêu đề bài viết.',
                    },
                    summary: {
                        required: 'Vui lòng nhập tóm tắt bài viết.',
                    },
                    avatar: {
                        required: 'Vui lòng chọn avartar cho bài viết.',
                        // remote: 'Your username have been taken, please take another one.'
                    },
                    password: {
                        required: 'Vui lòng nhập mật khẩu.',
                        minlength: 'Mật khẩu phải có ít nhất 6 ký tự'
                    },
                    confirmPassword: {
                        required: 'Vui lòng nhập lại mật khẩu.',
                        equalTo: 'Mật khẩu không trùng khớp'
                    },
                    highlight: function (element) {
                        $(element).addClass("is-invalid").removeClass("is-valid");
                    },
                    unhighlight: function (element) {
                        $(element).addClass("is-valid").removeClass("is-invalid");
                    },
                    errorElement: "small",
                    errorColor: "red",
                }
            })
            function postNews() {
                var myEditor = document.querySelector('#editor')
                var checkVal = 0
                if ($('#ispremium').is(":checked")) {
                    checkVal = 1
                }
                var formData = new FormData()
                formData.append('title', $("#title").val())
                formData.append('ispremium', checkVal)
                formData.append('summary', $("#summary").val())
                formData.append('content', myEditor.children[0].innerHTML)
                formData.append('category', $("#category").val())
                formData.append('tags', $("#tags").val())
                formData.append('avatar', $('#avatar')[0].files[0])
                var url = $("#formLogin").attr("action")
                console.log(formData)
                $.ajax({
                    url: url,
                    data: formData,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (returnData) {
                        if (returnData.status == false) {
                            alert(returnData.Message)
                        } else {
                            window.location.href = "/api/writer"
                        }
                    }
                });
            }
        })
    </script>

    <script src="../../js/image-resize.min.js"></script>
    <script src="../../js/image-drop.min.js"></script>
    <!-- Initialize Quill editor -->
    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'], // toggled buttons
            ['blockquote', 'code-block'],
            [{
                'header': 1
            }, {
                'header': 2
            }], // custom button values
            [{
                'list': 'ordered'
            }, {
                'list': 'bullet'
            }],
            [{
                'script': 'sub'
            }, {
                'script': 'super'
            }], // superscript/subscript
            [{
                'indent': '-1'
            }, {
                'indent': '+1'
            }], // outdent/indent
            [{
                'direction': 'rtl'
            }], // text direction
            [{
                'size': ['small', false, 'large', 'huge']
            }], // custom dropdown
            [{
                'header': [1, 2, 3, 4, 5, 6, false]
            }],
            [{
                'color': []
            }, {
                'background': []
            }], // dropdown with defaults from theme
            [{
                'font': []
            }],
            [{
                'align': []
            }],
            ['image'],
            ['video'],
            ['clean'] // remove formatting button
        ];
        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions,
                imageResize: {
                    displaySize: true,
                    handleStyles: {
                        backgroundColor: 'black',
                        border: 'none',
                        color: 'white'
                        // other camelCase styles for size display
                    }
                },
                videoResize: {
                    modules: ['Resize', 'DisplaySize', 'Toolbar'],
                    handleStyles: {
                        backgroundColor: 'black',
                        border: 'none',
                        color: 'white'
                        // other camelCase styles for size display
                    }
                },
                imageDrop: true
            },
            theme: 'snow'
        });
    </script>

</body>

</html>