{{template "adminHeader_nav.html" .}}
<style>
	.button {
		width: 150px;
		text-align: center;
		margin: 0 auto;

	}
</style>
<div class="col-md-10">
	<div class="content">
		<h4 class="text-center"> Bài viết</h4>
	</div>
	<div class="clearfix"></div>
	<div id="searchForm">
		<form class="form-row md-form mr-auto mb-4 " >
			<div class="col-lg-10">

					<input class="form-control " type="search" placeholder="Search">
			</div>
				<button class="btn btn-primary" type="submit">Search</button>
		</form>
	</div>
	<br>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Tiêu đề</th>
				<th scope="col">Tóm tắt</th>
				<th scope="col">Avatar</th>
				<th scope="col">Trạng thái</th>
				<th scope="col" >Duyệt bài viết</th>
				<th scope="col" >Xóa bài viết</th>
			</tr>
		</thead>
		<tbody>
			{{range .news}}
			<tr>
				<td>{{.News.ID}}</td>
				<td>{{.News.Title}}</td>
				<td>{{.News.Summary}}</td>
				<td>
					<img style="width: 150px;" src="/../../{{.News.Avatar}}" alt="{{.News.Summary}}">
				</td>
				<td id="tdCensor{{.News.ID}}">
					{{if .Censor}}
					{{if eq .Censor.IsPublic false}}
					Không được duyệt
					{{else}}
					Đã duyệt
					{{end}}
					{{else}}
					Đợi duyệt
					{{end}}
				</td>
				<td>
					<input type="checkbox" id="{{.News.ID}}" {{if .Censor}} {{if eq .Censor.IsPublic true}} checked
						{{end}} {{end}}>
				</td>
				<td>
					<div bordered><a href="#"><i class="fa fa-trash-o"></i></a>
					</div>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
</div>

<script>
	$(document).ready(function () {
		$("input[type='checkbox']").click(function () {
			var btnRadio = $(this)
			var dataSend = {
				isPublic: btnRadio.is(':checked'),
				newsID: btnRadio.get(0).id,
			}
			$.ajax({
				url: '/api/admin/news/ispublic',
				type: 'post',
				dataType: 'json',
				data: dataSend,
				success: function (data) {
					if (data.status == false) {
						alert(errorThrown)
						window.location.href = "/api/admin/news"
					}
					var id = "#tdCensor" + dataSend.newsID
					if (dataSend.isPublic) {
						$(id).html("Đã duyệt")
					} else {
						$(id).html("Không được duyệt")
					}
				},
				error: function (jqXhr, textStatus, errorThrown) {
					alert(errorThrown)
					window.location.href = "/api/admin/news"
				}
			})
		})
		
		//$()
	})
</script>

</body>

</html>