{{template "adminHeader_nav.html" .}}
<style>
	.button {
		width: 150px;
		text-align: center;
		margin: 0 auto;

	}
</style>
<div class="col-md-10">
	<div class="content">
		<h4 class="text-center"> Bài viết</h4>
	</div>
	<div class="clearfix"></div>
	<div id="searchForm">
		<form class="form-row md-form mr-auto mb-4 " >
			<div class="col-lg-10">

					<input class="form-control " type="search" placeholder="Search">
			</div>
				<button class="btn btn-primary" type="submit">Search</button>
		</form>
	</div>
	<br>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Tiêu đề</th>
				<th scope="col">Tóm tắt</th>
				<th scope="col">Avatar</th>
				<th scope="col">Trạng thái</th>
				<th scope="col" width="100">Duyệt bài viết</th>
				<th scope="col" width="100">Xóa bài viết</th>
			</tr>
		</thead>
		<tbody>
			{{range .news}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Title}}</td>
				<td>{{.Summary}}</td>
				<td>
					<img width="150" src="/../../{{.Avatar}}" alt="{{.Summary}}">
				</td>
				<td>hihi</td>
				<td>
					<input type="checkbox">
				</td>
				<td>
					<div bordered><a href="#"><i class="fa fa-trash-o"></i></a>
					</div>
				</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</div>
</div>
</body>

</html>