<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{{.title}}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<link rel="stylesheet" href="css/error.css">
	<link rel="stylesheet" type="text/css" href="css/signInStyles.css">
	<script type="text/javascript" src="js/javascript.js"></script>



</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Đăng nhập</h3>
					<div class="d-flex justify-content-end social_icon">
						<a href="/"> <span><i class="fa fa-home"> </i></span></a>
					</div>
				</div>
				<div class="card-body">
					<div>
						<p id="login_err"></p>
					</div>
					<form name="login" id="formLogin" action="api/login">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input id="username" name="username" type="text" class="form-control"
								placeholder="Tên đăng nhập" required="">

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input id="password" name="password" type="password" class="form-control"
								placeholder="Mật khẩu" required="">
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<input id="btnSubmit" type="submit" class="btn float-right login_btn"
								value="Đăng nhập"></input>
						</div>
					</form>

				</div>

				</script>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
						Không có tài khoản?<a href="/register">Đăng ký</a>
					</div>
					<div class="d-flex justify-content-center">
						<a href="#">Quên mật khẩu?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="/js/jquery.validate.js"></script>
	<script>
		$(document).ready(function () {
			jQuery.validator.addMethod("noSpace", function (value, element) {
				return value.indexOf(" ") < 0 && value != "";
			}, "No space please and don't leave it empty");
			$("#formLogin").validate({
				submitHandler: postLogin,
				rules: {
					username: {
						required: true,
						noSpace: true,
					},
					password: {
						required: true,
						minlength: 6
					},
				},
				messages: {
					username: {
						required: 'Tên đăng nhập không được để trống. Vui lòng nhập',
						noSpace: "Tên đăng nhập không được chứa khoảng trắng"
					},
					password: {
						required: 'Mật khẩu không được để trống. Vui lòng nhập',
						minlength: "Mật khẩu phải có ít nhất 6 ký tự. Vui lòng nhập đủ"
					},

					highlight: function (e) {
						$(e).removeClass('is-valid').addClass('is-invalid');
					},
					unhighlight: function (e) {
						$(e).removeClass('is-invalid').addClass('is-valid');
					},
					errorElement: 'small',
					errorColor: 'red'
				},
			});

			function postLogin() {
				var data = $("#formLogin").serialize()
				var url = $("#formLogin").attr("action")
				var posting = $.post(url, data)
				console.log(data)
				posting.done(function (d) {
					if (d.status == false) {
						$('#login_err').text('Tên đăng nhập hoặc mật khẩu không chính xác. Vui lòng đăng nhập lại')
					} else {
						window.location.href = "/"
					}
				})
			}
		})
	</script>
</body>

</html>