{{template "adminHeader_nav.html" .}}

<div class="col-md-10">
	<div class="content">
		<h4 class="text-center"> Danh sách thành viên</h4>
	</div>
	<div class="clearfix"></div>
	<table class="table table-bordered">
  		<thead >
  			<tr>
     			 <th scope="col">Id</th>
     			 <th scope="col">Tên</th>
     			 <th scope="col" width="300">Username</th>
     			 <th scope="col">Email</th>
     			 <th scope="col" width="150">Role</th>
     			 <th scope="col" width="100">Lưu</th>
   			</tr>
  		</thead>		
 	 	<tbody>
   	 		<tr>
    	  		<td >1</td>
    	  		<td>Mark</td>
    	  		<td>Otto</td>
    	  		<td>@mdo</td>
    	  		<td> <select>
  					<option value="volvo">Editter</option>
  					<option value="saab">Writer</option>
  					<option value="mercedes">Premium User</option>
  					<option value="audi">Nomar User</option>
					</select> 
				</td>
  				<td><a href="#"><i class="fa fa-floppy-o"></i></td>
    	  		
      		</tr>
    		<tr>
    	  		<td >2</td>
    		  <td>Jacob</td>
    		  <td>Thornton</td>
    		  <td>@fat</td>
    		  <td><select>
  					<option value="volvo">Editter</option>
  					<option value="saab">Writer</option>
  					<option value="mercedes">Premium User</option>
  					<option value="audi">Nomar User</option>
					</select></td>
    		  <td><a href="#"><i class="fa fa-floppy-o"></i></td>
    		</tr>
   			 <tr>
    	  		<td >3</td>
      			<td>Larry</td>
    	  		<td>the Bird</td>
    	  		<td>@twitter</td>
    	  		<td><select>
  					<option value="volvo">Editter</option>
  					<option value="saab">Writer</option>
  					<option value="mercedes">Premium User</option>
  					<option value="audi">Nomar User</option>
					</select></td>
    	  		<td><a href="#"><i class="fa fa-floppy-o"></i></a></td>
    		</tr>
 	 	</tbody>

		</table>
	</div>
