{{template "adminHeader_nav.html" .}}

<div class="col-md-10">
	<div class="content">
		<h4 class="text-center"> Danh sách thành viên</h4>
	</div>
	<div class="clearfix"></div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Tên</th>
				<th scope="col" width="300">Username</th>
				<th scope="col">Email</th>
				<th scope="col" width="150">Role</th>
				<th scope="col" width="100">Lưu</th>
			</tr>
		</thead>
		<tbody>
			{{range .payload.users}}
			<tr>
				<td>{{.ID}}</td>
				<td>{{.Name}}</td>
				<td>{{.Username}}</td>
				<td>{{.Email}}</td>
				<td> <select>
						<option value="volvo">Độc giả</option>
						<option value="saab">Premium</option>
						<option value="mercedes">Writer</option>
						<option value="audi">Editor</option>
						<option value="audi">Admin</option>
					</select>
				</td>
				<td><a href="#"><i class="fa fa-floppy-o"></i></td>

			</tr>
			{{end}}
		</tbody>

	</table>
</div>