.dropdown{
    position: relative;
    display: inline-block;
}
.dropdow-content{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
}
.dropdown:hover .dropdow-content{
    display: block;
}